# Windows image file caches
Thumbs.db
ehthumbs.db

cache/

# Folder config file
Desktop.ini
config.php

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Images
*.png
*.jpg

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea
.phalcon
bower_components/
!bower_components/bootstrap-sass/
node_modules/
gulpfile.js
sql_debug.log